<div class="row">
	<div class="col-md-4">
		<%= image_tag @movie.movie_img.url(:movie_show), class: "movie__show" %>
	</div>

	<div class="col-md-8">
		<div class="movie__info">
			<h2 class="movie__title"> <%= @movie.title %> </h2>
			<h3 class="movie__director"> <span><em>From: </em></span ><%= @movie.director %> </h3>
			<span class="movie__category"> <%= @movie.category.name %> </span>
			<h5 class="avg-rating">Average Rating</h5>
			<div class="average-review-rating" data-score=<%= @average_review %></div>
			<span class="number-of-reviews"> <em> From: </em> <%= @movie.reviews.count %> reviews</span>
			<p class="movie__desc">  <%= @movie.description %> </p>
		</div>
	</div>
</div>
</div>

<div class="links btn-group">
	<% if user_signed_in? %>
		<% if @movie.user_id == current_user.id %>
			<%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-custom" %>
			<%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-custom" %>
		<% end %>
	<% end %>
</div>

<div class="clearfix">
	<%= link_to "Add Reviews", new_movie_review_path(@movie), class: "btn-primary pull-right" %>
</div>
<div class="row">
	<div class="cold-md-12">
		<div class="reviews">
			<h1> Reviews </h1>
				<%= render @movie.reviews %>
		</div>
	</div>
</div>



<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});

	$('.average-review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>